.calendar {
  width: 818px;
  max-width: 100%;
  margin: 0 auto;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 10px;
  border-bottom: 2px solid #e0e0e0;
  color: #f7f7f7;
  font-size: 20px;
}

.header .icon {
  cursor: pointer;
  user-select: none;
  /* font-size: 1.5em; */
  color: #fff;
  padding: 10px;
  display: inline-block;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.header-buttons .icon {
  margin: 0 5px;
}

.days,
.row {
  display: flex;
}

.col {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.days .col {
  font-weight: bold;
  color: #000000;
}

.cell {
  min-height: 60px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin: 2px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  background-color: #fff;
  color: #000;
  position: relative;
}

.cell.disabled {
  background-color: #f9f9f9;
  color: #bbb;
  cursor: not-allowed;
}

.cell.selected {
  background-color: #007bff;
  color: white;
}

.cell:hover:not(.disabled):not(.selected) {
  background-color: #f0f0f0;
}

.number {
  display: block;
  margin-top: 5px;
  font-size: 1.1em;
  font-weight: bold;
}

.todos {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

/* .todo-item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2px;
} */

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 2px;
}

.sunday {
  color: red;
}

.holiday {
  color: red;
}

.holiday-text {
  color: red;
  font-size: 12px; /* 텍스트 크기 설정 */
  text-align: center; /* 가운데 정렬 */
  margin-top: 6px;
}
